*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
  }
  body{
    background-image: url('123.jpg');
    background-repeat: no-repeat;
    background-size: cover
  }
  #SignUp{
        margin: 50px 34%;
        background-color: #fff;
        background: transparent;
        padding: 80px 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  #SignUp h2{
    color: black;
    margin-bottom: 10px;
    font-family: sans-serif;
    font: bold;
    height: 25px;
    margin-right: 50px;    
  }
  #SignUp h3{
    margin-right: 3px;
  }
  .btn{
    width: 20%;
    padding: 10px;
    background: linear-gradient(-135deg, #1dcdec,#e2e0dc);
    color: rgb(255, 250, 250);
    border: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    font-size: 15px;
    margin-top: 1%;
    height: 50px;
    font:bold;
  }
  .btn :hover{
    transform: scale(0.99);
    background: linear-gradient(-135deg, #e2e0dc,#1dcdec);
  }
  #SignUp input[type="First name"],#SignUp input[type="Last name"] {
    padding: 15px 8px;
    width: 90%;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    font: bold;
    margin-left: 10px;
  }
  #SignUp input[type="Username"],#SignUp input[type="Email"] {
    padding: 15px 8px;
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    font: bold;
    margin-left: 10px;
  } 
  #SignUp input[type="Confirm Password"],#SignUp input[type="Password"] {
    padding: 15px 8px;
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    font: bold;
    margin-left: 10px;
  }
#SignUp input[type="Mobile number"] {
    padding: 15px 8px;
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    font: bold;
    margin-left: 10px;

}